{% extends "base.html" %}

{% load static %}

{% block main_content %}
    <h2>{{ group.name }}</h2>

    <div style="padding: 10px; margin-left: 35px; margin-right: 10px;">
        <h3>{{ group.description }}</h3>

        {% if user.is_authenticated %}
            {% if user in group.members.all %}
                <a href="{% url 'create_event' pk=object.pk %}">
                    <button class="button-link">Create an Event</button>
                </a>

                <h3>Events:</h3>
                <div style="display: inline-block; backdrop-filter: blur(15px); width: fit-content; padding: 10px;">
                    {% for event in group.event_set.all reversed %}
                        <li>
                            {{ event.title }} from {{ event.author }}:
                            <p>{{ event.content }}</p>
                        </li>
                    {% empty %}
                        <p>No Events yet</p>
                    {% endfor %}
                </div>

                <h3>Members: {{ group.members.count }}</h3>
                <div style="display: inline-block; backdrop-filter: blur(15px); width: fit-content; padding: 10px;">
                    {% for member in group.members.all %}
                        <p>{{ member.email }}</p>
                    {% endfor %}
                </div>
                <form method="post" action="{% url 'leave_group' pk=object.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="button-link">Leave Group</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'join_group' pk=object.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="button-link">Join Group</button>
                </form>
            {% endif %}
            <p><a href="{% url 'list_groups' %}" class="button-link">Groups</a></p>
        {% endif %}
    </div>
{% endblock %}